services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    restart: unless-stopped
    volumes:
      - ./config:/config
      - /home/kevin/Recordings:/Recordings
      - /etc/localtime:/etc/localtime:ro
    privileged: false
    user: 1000:1000
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
    depends_on:
      - hass-db
#    devices:
#      - /dev/ttyACM0:/dev/ttyACM0

  mosquitto:
    image: eclipse-mosquitto:2
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./mosquitto_config/:/mosquitto/config/
      - ./mosquitto_log/:/mosquitto/log/
      - ./mosquitto_data:/mosquitto/data/
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
#    ports:
#      - 1883:1883
#      - 9001:9001

  zigbee2mqtt:
    container_name: zigbee2mqtt
    restart: unless-stopped
    image: koenkk/zigbee2mqtt:latest
    network_mode: host
    volumes:
      - ./zigbee2mqtt-data:/app/data
      - /run/udev:/run/udev:ro
    #ports:
    #  - 8080:8080
    environment:
      - TZ=Europe/Berlin
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
    depends_on:
      - mosquitto

  hass-db:
    container_name: hass-db
    network_mode: host
    user: 1000:1000
    environment:
      POSTGRES_DB: "smart_home"
      POSTGRES_PASSWORD: "hassPw321"
      POSTGRES_USER: "hass"
    image: "postgres:18.1-alpine"
        #image: "timescale/timescaledb:latest-pg15"
#    ports:
#      - "5432:5432"
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./postgresdata:/var/lib/postgresql
    logging:
      driver: "json-file"
      options:
        max-size: "5m"

  esphome:
    container_name: esphome
    image: esphome/esphome:latest
    volumes:
      - ./esp-home_config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: always
    privileged: true
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "5m"


