

  - platform: filter
    name: "filtered power consumption"
    entity_id: sensor.power_consumption
    filters:
      - filter: time_simple_moving_average
        window_size: "00:00:07"
      - filter: time_throttle
        window_size: "00:00:07"

#  - platform: rest
#    name: "Tibber Preis"
#    unique_id: tibber_preis
#    resource: https://api.tibber.com/v1-beta/gql
#    method: POST
#    scan_interval: 100
#    payload: '{ "query": "{ viewer { homes { currentSubscription { priceInfo { today { total startsAt } tomorrow { total startsAt }}}}}}" }'
#    json_attributes_path: "$.data.viewer.homes[0].currentSubscription.priceInfo"
#    json_attributes:
#      - today
#      - tomorrow
#    value_template: Ok
#    headers:
#      Authorization: 6yj8PciGvmRRVXSIY8cxIa4DQ229PWSx_phEgdA9lRw
#      Content-Type: application/json
#      User-Agent: REST

